main
{
    height: 78.5%;
    justify-content: center;
}

#form_ajuda
{
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    width: 275px;
    overflow: scroll;
}

#form_ajuda::-webkit-scrollbar {
  display: none;        
}

#div_habilidades
{
    margin: 7px 0px;
    display: flex;
    flex-direction: column;
}

#div_habilidades label
{
    margin: 3px 0px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

#div_habilidades input {
    display: none;
}

.span_checkbox {
    width: 15px;
    height: 15px;
    border: 2px solid #000000;
    border-radius: 100%;
    display: inline-block;
}

#textarea_descricao
{
    margin-top: 10px;
    border-radius: 20px;
    height: 200px;
    padding: 10px;
    resize: none;
    width: 92.5%;
    font-family: Segoe UI;
    font-size: 16px;
}

#div_perfil_info_buttons
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.div_ajuda_buttons
{
    display: flex;
    background-color: #DB4244;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    justify-content: center;
}

.div_ajuda_buttons:hover
{
    cursor: pointer;
}

#div_aceitar
{
    margin-left: 20%;
}