main
{
    height: 74.2%;
    justify-content: center;
    background-color: white;
    padding: 0px;
    overflow: scroll;
}

main::-webkit-scrollbar {
    display: none;        
}

#div_chat
{
    width: 100%;
    height: 100%;
}

#div_conversando
{
    display: flex;
    color: white;
    font-size: 24px;
    align-items: center;
    border-bottom: 1px solid gray;
    background-color: #DB4244;
    height: 110px;
}

#div_conversando img
{
    margin: 10px 10px;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    margin-right: 20px;
}

#div_conversa
{
    height: 75%;
    padding: 0px 10px;    
}

#div_enviar
{
    display: flex;
}

#div_enviar
{
    height: 41px;
}

#div_enviar img
{
    cursor: pointer;
}

#div_enviar input
{
    width: 100%;
    bottom: 75px;
    font-family: Segoe UI;
    padding: 10px;
}

#div_enviar input::placeholder
{
    font-family: Segoe UI;
}