main
{
    height: 78.5%;
    justify-content: center;
}

#div_ajuda_placeholder
{
    display: flex;
    height: 80%;
    overflow: auto;
    background-color: white;
    border-radius: 20px;
    width: 275px;
    padding: 25px;
    flex-direction: column;
}

#div_ajuda_placeholder::-webkit-scrollbar {
    display: none;        
}

#div_ajuda_placeholder img
{
    border-color: #DB4244;
    border-style: solid;
    border-width: 5px;
    max-height: 150px;
    max-width: 150px;
    border-radius: 100%;
    margin: 0px 25%;
}

#div_perfil_info p
{
    text-align: justify;
}

#div_perfil_info_buttons
{
    display: flex;
    flex-direction: row;
}

.div_ajuda_buttons
{
    display: flex;
    background-color: #DB4244;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    color: white;
    justify-content: center;
}

.div_ajuda_buttons:hover
{
    cursor: pointer;
}

#div_aceitar
{
    margin-left: 20%;
}

#input_pesquisar 
{
    background-color: #DB4244;
    border-radius: 15px;
    width: 325px;
    padding: 10px;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    font-family: Segoe UI;
    font-size: 16px;
    margin-bottom: 10px;
}

#input_pesquisar::placeholder
{
    color: white;
    font-family: Segoe UI;
}

@media (min-width: 1024px) {
    #ajuda_placeholder
    {
        width: 500px;
    }
}