nav
{
    display: flex;
    background-color: white;
}

main
{
    height: 80%;
    background-color: green;
}

footer p
{
    display: none;
}

nav
{
    height: 100%;
    display: flex;
}

header
{
    height: 10%;
}

footer
{
    height: 10%;
}

#nav_footer
{
    display: flex;
    justify-content: center;
}

.nav_bar_button
{
    max-height: 40px;
    padding: 5px;
    margin: 10px 20px;
    opacity: 60%;
}

#ajuda_placeholder
{
    display: flex;
    justify-content: center;
    overflow: hidden;
    max-height: 100%;
}

#ajuda_placeholder img
{
    width: 170%;
}

#ajuda_overlay
{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.147), #000000);
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: fixed;
    color: white;
    font-size: 21px;
    padding-left: 30px;
}