main
{
    font-size: 24px;
    font-family: Segoe UI;
    color: white;
    height: 100%;
    background-color: #DB4244;
    padding: 0px;
}

#form_login
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 63%;
    text-align: center;
    justify-content: center;
    background-color: #DB4244;
}

#form_login label, #form_login input
{
    width: 100%;
}

#form_login input
{
    border-radius: 30px;
    font-size: 24px;
    border-color: white;
    margin-top: 2%;
    padding: 10px;
    font-family: Segoe UI;
}

#form_login label
{
   margin-top: 10%;
}

#button_login
{
    width: 30%;
    padding: 10px;
    border-radius: 30px;
    border-color: white;
    font-size: 24px;
    margin-bottom: 30px;
    font-family: Segoe UI;
    background-color: white;
}

#img_logo
{
    margin: 0px;
    width: 100%;
    height: 220px;
    min-height: 220px;
}

footer
{
    display: none;
}