main {
    background-image: url("../img/educamatchlogin.jpg");
    background-size: cover;
    font-size: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

#form_login {
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 63%;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 3px rgba(47, 47, 47, 0.42);
}

#form_login label,
#form_login input {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    color: #444;
}

#form_login input {
    border-radius: 10px;
    font-size: 15px;
    border: none;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 3px rgba(47, 47, 47, 0.42);
    margin-top: 2%;
    padding: 15px;
    font-family: Segoe UI;
}

#form_login label {
    margin-top: 10%;
}

#button_login {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: gray 0 solid;
    font-size: 20px;
    margin-top: 50px;
    color: white;
    background-color: #0077ff;
    box-shadow: 0px 4px 3px rgba(47, 47, 47, 0.42);
    font-weight: 600;
    cursor: pointer;
}

#img_logo {
    margin: 0px;
    width: 100%;
    height: 220px;
    min-height: 220px;
}

footer {
    display: none;
}