main
{
    font-size: 24px;
    font-family: Segoe UI;
    color: white;
    height: 100%;
    background-color: white;
    padding: 0px;
    min-height: 700px;
    background-image: url("../img/educamatchlogin.jpg");
    background-size: cover;
}

#form_login
{
    padding: 20px 0px;
    display: flex;
    width: 360px;
    flex-direction: column;
    align-items: center;
    height: 100%;
    text-align: center;
    justify-content: center;
    background-color: #DB4244;
}

#form_login label, #form_login input
{
    width: 80%;
}

#form_login input
{
    border-radius: 30px;
    font-size: 18px;
    border-color: white;
    margin-top: 10px;
    padding: 10px;
    font-family: Segoe UI;
}

#form_login label
{
   margin-top: 20px;
}

#span_entrar
{
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    border-color: white;
    font-size: 24px;
    margin-top: 50px;
    font-family: Segoe UI;
    background-color: white;
    color: black;
    text-align: center;
}

#div_logo_container
{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img_logo
{
    max-height: 200px;
}

@media (min-width: 1024px) {
    #form_login
    {
        height: 461px;
    }
}