header
{
    height: 10%;
}

footer
{
    height: 10%;
}

main
{
    height: 80%;
    background-color: #DB4244;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav
{
    height: 100%;
    display: flex;
}

#nav_footer
{
    display: flex;
    justify-content: center;
}

.nav_bar_button
{
    max-height: 40px;
    padding: 5px;
    margin: 10px 20px;
    opacity: 60%;
}

footer p
{
    display: none;
}

#img_perfil
{
    border-color: white;
    border-style: solid;
    border-width: 5px;
    margin: 20px 0px;
    max-height: 150px;
    max-width: 150px;
    border-radius: 100%;
}

#div_perfil_info
{
    background-color: white;
    border-radius: 20px;
    height: 58%;
    width: 80%;
    padding: 10px;
}