main
{
    height: 78.5%;
}

#img_perfil
{
    border-color: white;
    border-style: solid;
    border-width: 5px;
    margin: 20px 0px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

#div_perfil_info
{
    background-color: white;
    border-radius: 20px;
    height: 58%;
    width: 275px;
    padding: 10px;
    overflow: scroll;
}

#div_perfil_info::-webkit-scrollbar {
    display: none;        
}